h2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

body {
    background-color: #120f0f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 1000 px;
}