---
---

@import "{{ site.theme }}";
.site-footer-credits {
  display: none;
}

// defined on main website. only adding it for testing
.page-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  background-color: #50505032;
  border-color: #c2c2c2ae;
  color: rgb(242, 242, 242);
  font-weight: 600;
}
