---
---

@import "{{ site.theme }}";
.site-footer-credits {
  display: none;
}

// defined on main website. only adding it for testing
.page-header {
  background-color: rgba(133, 133, 133, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // backdrop-filter: blur(10px);
  background-image: linear-gradient(rgba(88, 88, 88, 0.712), rgba(36, 36, 36, 0.722)), url(../images/earth-2254769-dark-min.jpg);
}

.btn {
  background-color: #50505032;
  border-color: #c2c2c2ae;
  color: rgb(242, 242, 242);
  font-weight: 500;
}

.logo {
  width: 130px;
  height: 130px;
}

.site-footer-owner {
  font-weight: 550;
  color: rgb(102, 108, 165);
}