---
---

@import "{{ site.theme }}";
.site-footer-credits {
  display: none;
}

.nav{
  position: fixed;
  background-color: rgba(248, 249, 255, 0.68);
  width: 100%;
  //background blur
  -webkit-backdrop-filter: blur(64px); 
  backdrop-filter: blur(16px);
}

.nav .btn, .nav-mobile .btn {
  background-color: rgba(255, 255, 255, 0);
  // border-color: rgb(81, 100, 178);

  color: rgb(72, 91, 165);
  font-weight: 700;
  transition: 0.3s;
  font-size: 1rem;
}

.navbar .btn {
  border: none;
  padding: 0;
  padding-left: 1rem;
} 

.page-header {
  background-color: rgba(133, 133, 133, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(239, 239, 242, 0.88), rgba(228, 226, 246, 0.94)), url(../images/unsplash-speed-sb7RUrRMaC4.avif);
  // height: 45vh; 
}

header h1 {
  color: rgb(95, 88, 157);
}

.btn {
  background-color: #50505032;
  border-color: rgb(176, 176, 176);
  color: rgb(242, 242, 242);
  font-weight: 500;
}

.logo {
  width: 130px;
  height: 130px;
}

.logo-small {
  width: 48px;
  height: 48px;
}

.site-footer-owner {
  font-weight: 550;
  color: rgb(121, 125, 159);
}

.map {
  background-color: rgb(215, 213, 201);
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 12px 0 rgba(135, 159, 255, 0.801);
}

//reduce padding
main#content {
  padding-left: 1vw;
  padding-right: 1vw;
}

#content h3, #content h2, #content h1 {
  font-weight: 700;
  color: rgb(108, 101, 177);
}

#content h2 {
  display: none;
}

#content p {
  color: rgb(87, 87, 87);
  font-weight: 400;
}

#content a {
  color: rgb(171, 85, 109);
  // background-color: rgb(171, 85, 109);
  // border-color: rgb(92, 92, 92);
  color: rgb(152, 93, 93);
  font-weight: 700;
  transition: 1s;
}

.nav-mobile, .mobile-text {
  display: none;
}

#mobile-menu {
  color: rgb(95, 88, 157);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(95, 88, 157);
  transition: 0.3s;
  text-decoration: underline;
  display: none;
}

@media (max-width: 1200px) {
  #content {
    margin-left: 6vw;
    margin-right: 6vw;
  }
  #mobile-menu {
    margin-bottom: 1rem;
  }
  .page-header h1 {
    padding-top: 4rem;
  }
}

@media (max-width: 880px) {
  .navbar {
    padding: 0;
    display: none;
  }

  .mobile-text {
    display: block;
  }

  // .nav {
  //   position: relative;
  //   display: none;
  // }

  .page-header h1 {
    padding-top: 5rem;
  }

  .nav-mobile {
    display: block;
  }

  #mobile-menu {
    display: block;
  }

  #content {
    margin-left: 4vw;
    margin-right: 4vw;
  }
  
  .navbar-footer {
    padding-bottom: 25vh;
  }

  #back-button {
    margin-top: 1rem;
  }
}

