<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% include head-custom.html %}

</head>

<body>
  <header class="nav animate__animated animate__fadeIn">
    <nav class="border-gray-200 px-4 lg:px-8 py-2.5 dark:bg-gray-800">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="#nav-btm" id="mobile-menu" class="navbar pt-3 px-4"><i class="material-icons text-2xl text-gray-500">menu</i></a>
        <a href="/" class="flex items-center" title="dService Home Page" rel="home">
          <img src="{{ site.baseurl }}/assets/icons/favicons/logo-only.png" alt="DAfinity" class="logo-small">
        </a>
        <div class="navbar pt-3 px-4">
          {% include navigation-bar.html %}
        </div>
        <a href="/aboutus" class="mobile-text"><i class="material-icons text-2xl text-gray-500 px-4">info</i></a>
      </div>
    </nav>
  </header>
  <header class="page-header" role="banner">
    <h1 class="project-name pt-16">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

  </header>
  <main id="content" class="main-content" role="main">
    {{ content }}
    {% include site-footer.html %}
  </main>
  <footer class="nav-mobile pl-4 pr-4" id="nav-btm">
    <div class="navbar-footer pt-4 pl-4">
      {% include navigation-bar.html %}
    </div>
  </footer>
</body>

</html>