<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2395c2">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
    {% endfor %}
    {% endif %}
    {% include head-custom.html %}
    
  </head>
  <body>
    <header class="page-header" role="banner">
      <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
      <!-- <h1 class="project-name">dService</h1> -->
      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
      <h1>Navigate Your Data Science Journey with <span style="color:rgb(210, 216, 255);">dService</span></h1>
      <h2 style="font-weight:normal">dService is an innovative platform designed to empower international students interested in data science with personalized insights and detailed information about U.S. Data Science Master's programs.</h2>
      <a class="btn" href="{{ site.baseurl }}/home">Try dService&nbsp;&nbsp;➚</a>
      <!-- {% include navigation-bar.html %} -->
    </header>
    <main id="content" class="main-content animate__animated animate__fadeIn" role="main">
      {{ content }}
      <!-- {% include site-footer.html %} -->
    </main>
  </body>
</html>
